/* Root */
:root {
  --default-x-spacer: 0.75rem;
}

/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

/* General */

section {
  padding: 0 var(--default-x-spacer);
}

/* Utility classes */

.separation-y > * + * {
  margin-top: var(--spacer, var(--default-spacer));
}

.opacity {
  background-color: rgba(0, 0, 0, var(--opacity, 0.3));
}

.opacity-5 {
  --opacity: 0.5;
}

.blur {
  backdrop-filter: blur(20px);
}

/* sections layout */

.comments {
  margin-top: 5.25rem;
}
